$cl-gray-100: #eeecec;
$cl-gray-700: #343434;
$cl-gray-800: #181818;
$cl-gray-900: #0f0f0f;

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: $cl-gray-800;
  font-family: 'Josefin Sans', sans-serif;
  color: $cl-gray-100;
}

a {
  text-decoration: none;
}

.projects {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  height: 100vh;

  &__card {
    position: relative;

    &-container {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      overflow: hidden;
      border-radius: 25px;
      background-color: $cl-gray-900;
      height: 300px;

      img {
        object-fit: cover;
        width: 500px;
        height: max-content;
        transition: all 0.3s ease;
        object-position: center;
      }

      .btn {
        position: absolute;
        bottom: 20px;
        color: $cl-gray-100;
        z-index: 20;
        font-size: 20px;
        animation: fadeIn 0.6s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
        padding: 10px 30px;
        box-shadow: 0 0 15px $cl-gray-800;
        background-color: $cl-gray-800;
        border-radius: 10px;
        transition: all 0.3s ease-in-out;

        &:hover {
          color: $cl-gray-800;
          background-color: $cl-gray-100;
          box-shadow: 0 0 10px $cl-gray-100;
        }
      }
    }
  }
}

.projects__card-container:not(:target) img {
  width: 60px;
  height: 320px;
}

.projects__card-container:not(:target) .btn {
  display: none;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}